div.container{
            text-align: center;
        }
        #icomp{
            position: absolute;
            left: 150px;
            top: 10px;
        }
        #ufam{
            position: absolute;
            right: 170px;
            top: 10px;
        }
        h1{
            font-size: 250%;
        }
        h2{
            font-size: 180%;
        }
        ul{
            list-style: none;
        }
        li{
            font-family: 'Times New Roman', Times, serif;
            font-size: 150%;
        }
        hr{
            color: blue;
            background-color: blue;
            height: 5px;
        }
       
        a{
            text-decoration: none;
        }