div{
    background-color: red;
}
td{
    vertical-align: bottom;
}
label{
    display: inline-block;
    padding: 3px;
    width: 200px;
    text-align: left;
}
input{
    position:relative;
    left: 20px;
    width: 200px;
  
}
#desenhar{
    display: inline-block;
    width: 150px;
    left: 1px;;
}